<ion-header [translucent]="true">
  <!--Div que controla o menu, logo e imagem do usuário na parte superior-->
  <div class="superior">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/image/menu.png" />
      </ion-menu-button>
    </ion-buttons>

    <img src="assets/image/logo2-svg.png" alt="logoNikeVerde" class="logo" />

    <img
      src="https://static.vecteezy.com/ti/vetor-gratis/p3/2387693-icone-do-perfil-do-usuario-vetor.jpg"
      alt="Imagem de Perfil"
      class="perfil"
    />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sapatos">
    <ion-card class="bk1">
      <img
        alt="Tenis branco, amarelo e verde"
        src="assets/image/shoecard.png"
        class="tenis1"
      />
    </ion-card>
    <ion-card class="bk2">
      <img
        alt="Tenis branco, amarelo e verde"
        src="assets/image/image-removebg.png"
        class="tenis1"
      />
    </ion-card>
    <ion-card class="bk2">
      <img
        alt="Tenis branco, amarelo e verde"
        src="assets/image/image.png"
        class="tenis1"
      />
    </ion-card>
  </div>
  <img src="assets/image/tenisCon.png" alt="Tênis da nike" class="Tenis" />

  <ion-card-header>
    <ion-card-title>kyrie infinity </ion-card-title>
    <ion-card-subtitle class="sub1">Calçados para Basquete</ion-card-subtitle>
    <ion-card-content class="text"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a mass justo lacinia accumsan.</ion-card-content
    >
    <ion-card-header class="sub1">Preço</ion-card-header>
  </ion-card-header>

  <ion-grid class="grid">
    <ion-row>
      <ion-col size="9" push="3" class="grid1">
        <ion-button class="peqb1">
          <img alt="Ícone de share" src="assets/image/share.png" />
        </ion-button>
        <ion-button class="peqb2">
          <img alt="Ícone de share" src="assets/image/shopping-bag.png" />
        </ion-button>
      </ion-col>
      <ion-col size="3" pull="9">$ 799</ion-col>
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shoes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
