<ion-header [translucent]="true">
  <!-- <img src="assets/image/logoNike.png" alt="logotipo da nike branco" /> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>
  <img
    src="assets/image/logo-svg.png"
    alt="logoNike"
    class="logoNike"
    style="width: 80px"
  />

  <img src="assets/image/imageShoe.png" alt="Tênis da nike" class="Tenis" />

  <ion-card-header>
    <ion-card-title>Summer Colections </ion-card-title>
    <ion-card-title class="Ano">2022</ion-card-title>
    <ion-card-subtitle
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a mass justo lacinia accumsan.</ion-card-subtitle
    >
  </ion-card-header>
  <ion-toolbar class="ToolButon">
    <ion-button shape="round" size="large" routerLink="/MyApp/src/app/shoes"
      >GET STATED →</ion-button
    >
  </ion-toolbar>
</ion-content>
